# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

css/* linguist-vendored
font-awesome/* linguist-vendored
Web/js/tablesorter/* linguist-vendored
Web/js/bootstrap-datepicker.js linguist-vendored
Web/js/bootstrap-datetimepicker.js linguist-vendored
Web/js/bootstrap.js linguist-vendored
Web/js/bootstrap.min.js linguist-vendored
Web/js/bootstrap.min2.js linguist-vendored
Web/js/jquery-1.10.2.js linguist-vendored
Web/js/moment.js linguist-vendored

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
