$ cat .gitattributes

css/* linguist-vendored
font-awesome/* linguist-vendored
js/tablesorter/* linguist-vendored
js/bootstrap-datepicker.js linguist-vendored
js/bootstrap-datetimepicker.js linguist-vendored
js/bootstrap.js linguist-vendored
js/bootstrap.min.js linguist-vendored
js/bootstrap.min2.js linguist-vendored
js/jquery-1.10.2.js linguist-vendored
js/moment.js linguist-vendored

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
